<!doctype html>
<html>

<head>
  <title>My Book List</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">

    <div class="page-header text-center">
      <h1><span class="fa fa-book"></span> My Book List</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

      <!-- USER INFO SECTION -->
      <div class="col-sm-6">
        <div class="well">
          <h3><span class="fa fa-user"></span> Account Info</h3>

          <% if (user.local.email) { %>
            <p>
              <strong>ID:</strong> <%= user._id %><br>
              <strong>Email:</strong> <%= user.local.email %><br>
              <strong>Password:</strong> <%= user.local.password %>
            </p>
            <a href="/unlink/local" class="btn btn-default">Unlink Account</a>
          <% } else { %>
            <a href="/connect/local" class="btn btn-default">Connect Local</a>
          <% } %>
        </div>
      </div>

      <!-- BOOK LIST SECTION -->
      <div class="col-sm-6">
        <h3>Your Books</h3>
        <ul class="book-list">
          <% for (var i = 0; i < books.length; i++) { %>
            <li class="book">
              <span style="<%= books[i].read ? 'text-decoration: line-through;' : '' %>">
                <strong><%= books[i].title %></strong> by <%= books[i].author %>
              </span>
              <button class="toggle-read btn btn-xs btn-info" data-title="<%= books[i].title %>" data-author="<%= books[i].author %>" data-read="<%= books[i].read %>">
                <%= books[i].read ? 'Unread' : 'Mark Read' %>
              </button>
              <button class="delete btn btn-xs btn-danger" data-title="<%= books[i].title %>" data-author="<%= books[i].author %>">
                Delete
              </button>
            </li>
          <% } %>
        </ul>

        <!-- Add Book Form -->
        <h4>Add a New Book</h4>
        <form action="/books" method="POST">
          <input type="text" name="title" placeholder="Book Title" class="form-control" required><br>
          <input type="text" name="author" placeholder="Author" class="form-control" required><br>
          <button type="submit" class="btn btn-success">Add Book</button>
        </form>
      </div>

    </div>

    <script src="main.js"></script>

  </div>
</body>

</html>
